<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>desserts</string>
			<string>sandwich</string>
			<string>sweets</string>
			<string>chocolates</string>
		</array>
		<key>QuestionText</key>
		<string>Ice cream and chocolate mousse are types of ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>milky</string>
			<string>dairy</string>
			<string>protein</string>
			<string>carbohydrate</string>
		</array>
		<key>QuestionText</key>
		<string>Milk, cheese and butter are ____ products.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>3</integer>
		<key>options</key>
		<array>
			<string>burn</string>
			<string>charred</string>
			<string>coaled</string>
			<string>burnt</string>
		</array>
		<key>QuestionText</key>
		<string>If we overcook some food and it turns black, we have ____ it.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>depart</string>
			<string>desert</string>
			<string>dessert</string>
			<string>decant</string>
		</array>
		<key>QuestionText</key>
		<string>The last dish you eat is called ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>Drive-in</string>
			<string>Drive-through</string>
			<string>Drive-out</string>
			<string>Drive-by</string>
		</array>
		<key>QuestionText</key>
		<string>What is the name of the place where you order food while waiting in your car?</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>starter</string>
			<string>entry</string>
			<string>mains</string>
			<string>before</string>
		</array>
		<key>QuestionText</key>
		<string>The first course you eat is called the ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>without a view</string>
			<string>with a view</string>
			<string>along a view</string>
			<string>by a view</string>
		</array>
		<key>QuestionText</key>
		<string>A table by the window is often called a table ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>surfers</string>
			<string>servers</string>
			<string>sealers</string>
			<string>sailors</string>
		</array>
		<key>QuestionText</key>
		<string>Waiters and waitresses are also called ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>Plain</string>
			<string>White</string>
			<string>Yellow</string>
			<string>Pink</string>
		</array>
		<key>QuestionText</key>
		<string>Beef and lamb are red meat.What are chicken and fish called?</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>takeafter</string>
			<string>takeback</string>
			<string>takeaway</string>
			<string>taketo</string>
		</array>
		<key>QuestionText</key>
		<string>Food you order and bring home is called a ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>quick coffee</string>
			<string>fast coffee</string>
			<string>instant coffee</string>
			<string>minutes coffee</string>
		</array>
		<key>QuestionText</key>
		<string>Coffee that comes from a jar and just needs water added is called ____.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>spread</string>
			<string>toast</string>
			<string>like</string>
			<string>put</string>
		</array>
		<key>QuestionText</key>
		<string>Some people like to ____ their bread with jam.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>golden</string>
			<string>silver</string>
			<string>blue</string>
			<string>rose</string>
		</array>
		<key>QuestionText</key>
		<string>Philip says he has ____ blood and is related to the King of Spain.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>blue</string>
			<string>yellow</string>
			<string>red</string>
			<string>green</string>
		</array>
		<key>QuestionText</key>
		<string>When Nelson Mandela visited Washington, they rolled out the carpet and gave him a great welcome.</string>
	</dict>
</array>
</plist>
