<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>soap</string>
            <string>the soap</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>Can you pass ____ please?.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>2</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>in </string>
            <string>information</string>
        </array>
        <key>QuestionText</key>
        <string>I would like you to send the ____ as soon as you can.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>cheese</string>
            <string>on</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>Can I have a slice of ____ please?</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>a car</string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>Jim goes everywhere by bike.He hasn't got ____</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>a banana</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>Would you like to eat _____?.</string>
    </dict>
    <dict>
         <key>correctAns</key>
         <integer>0</integer>
         <key>options</key>
         <array>
             <string>music</string>
             <string>on</string>
             <string>in </string>
             <string>for</string>
         </array>
         <key>QuestionText</key>
         <string>Ann was listening to ____ when I arrived.</string>
     </dict>
    <dict>
         <key>correctAns</key>
         <integer>0</integer>
         <key>options</key>
         <array>
             <string>at</string>
             <string>on</string>
             <string>in </string>
             <string>for</string>
         </array>
         <key>QuestionText</key>
         <string>We visited a farn that had a lot of ____.</string>
     </dict>
    <dict>
         <key>correctAns</key>
         <integer>0</integer>
         <key>options</key>
         <array>
             <string>at</string>
             <string>on</string>
             <string>rules</string>
             <string>for</string>
         </array>
         <key>QuestionText</key>
         <string>What are the ___ for this game?.</string>
     </dict>
</array>
</plist>
