<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>blue</string>
            <string>yellow</string>
            <string>green</string>
            <string>purple</string>
        </array>
        <key>QuestionText</key>
        <string>The boss went ____ with rage when I asked for a pay rise.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>2</integer>
        <key>options</key>
        <array>
            <string>black</string>
            <string>blue</string>
            <string>yellow</string>
            <string>red</string>
        </array>
        <key>QuestionText</key>
        <string>I tried telling her why she was wrong until I was ____ in the face but she wouldn't listen.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>silver</string>
            <string>yellow</string>
            <string>golden</string>
            <string>black</string>
        </array>
        <key>QuestionText</key>
        <string>Charlie Chaplin was one of the first stars of the ____ screen.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>white</string>
            <string>black</string>
            <string>yellow</string>
            <string>blue</string>
        </array>
        <key>QuestionText</key>
        <string>Don't be sad and ____, things might improve tomorrow.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>golden</string>
            <string>white</string>
            <string>silver</string>
            <string>pink</string>
        </array>
        <key>QuestionText</key>
        <string>The new stereo he bought is a ____ elephant.He doesn't need it at all.</string>
    </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>blue</string>
                     <string>yellow</string>
                     <string>golden</string>
                     <string>silver</string>
                 </array>
                 <key>QuestionText</key>
                 <string>The company chairman received a huge ____ handshake when he retired.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>blue</string>
                     <string>yellow</string>
                     <string>black</string>
                     <string>red</string>
                 </array>
                 <key>QuestionText</key>
                 <string>It's a ____ day for me, because I have just lost my job.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>green</string>
                     <string>red</string>
                     <string>black</string>
                     <string>white</string>
                 </array>
                 <key>QuestionText</key>
                 <string>Julie was ____ with envy when she saw her friend's new coat.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>green</string>
                     <string>brown</string>
                     <string>blue</string>
                     <string>yellow</string>
                 </array>
                 <key>QuestionText</key>
                 <string>Jack has ____ fingers.He is a very successful gardener.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>red</string>
                     <string>black</string>
                     <string>blue</string>
                     <string>yellow</string>
                 </array>
                 <key>QuestionText</key>
                 <string>The teacher gave me a  ____ look when he caught me talking in class.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>green</string>
                     <string>blue</string>
                     <string>yellow</string>
                     <string>black</string>
                 </array>
                 <key>QuestionText</key>
                 <string>Peter is the ____ sheep of the family.His family are all doctors, and he is an artist.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>red</string>
                     <string>black</string>
                     <string>pink</string>
                     <string>yellow</string>
                 </array>
                 <key>QuestionText</key>
                 <string>He has  a ____ streak, and is not a good person to depend on in a fight.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>golden</string>
                     <string>silver</string>
                     <string>blue</string>
                     <string>rose</string>
                 </array>
                 <key>QuestionText</key>
                 <string>Philip says he has ____ blood and is related to the King of Spain.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>blue</string>
                     <string>yellow</string>
                     <string>red</string>
                     <string>green</string>
                 </array>
                 <key>QuestionText</key>
                 <string>When Nelson Mandela visited Washington, they rolled out the carpet and gave him a great welcome.</string>
        </dict>
    <dict>
                 <key>correctAns</key>
                 <integer>0</integer>
                 <key>options</key>
                 <array>
                     <string>pink</string>
                     <string>green</string>
                     <string>blue</string>
                     <string>yellow</string>
                 </array>
                 <key>QuestionText</key>
                 <string>She was tickled ____ that you remembered her birthday and bought her some flowers.</string>
        </dict>
    <dict>
                  <key>correctAns</key>
                  <integer>0</integer>
                  <key>options</key>
                  <array>
                      <string>red</string>
                      <string>grey</string>
                      <string>blue</string>
                      <string>yellow</string>
                  </array>
                  <key>QuestionText</key>
                  <string>That's a ____ area, and so there is no clear rule or answer.</string>
         </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>white</string>
                        <string>black</string>
                        <string>green</string>
                        <string>blue</string>
                    </array>
                    <key>QuestionText</key>
                    <string>Peter is very ____ and has no real experience of life.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>blue</string>
                        <string>yellow</string>
                        <string>rose</string>
                        <string>black</string>
                    </array>
                    <key>QuestionText</key>
                    <string>Paul sees Hollywood through ____-coloured glasses.He would feel differently if he lived there.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>blue</string>
                        <string>yellow</string>
                        <string>browned</string>
                        <string>red</string>
                    </array>
                    <key>QuestionText</key>
                    <string>I am ____ off with this film.It is so boring.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>blue</string>
                        <string>yellow</string>
                        <string>red</string>
                        <string>green</string>
                    </array>
                    <key>QuestionText</key>
                    <string>The police caught the theif ____-handed coming out of the house with the stolen goods.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>blue</string>
                        <string>yellow</string>
                        <string>green</string>
                        <string>purple</string>
                    </array>
                    <key>QuestionText</key>
                    <string>The boss went ____ with rage when I asked for a pay rise.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>silver</string>
                        <string>yellow</string>
                        <string>golden</string>
                        <string>black</string>
                    </array>
                    <key>QuestionText</key>
                    <string>Charlie Chaplin was one of the first stars of the ____ screen.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>white</string>
                        <string>black</string>
                        <string>yellow</string>
                        <string>blue</string>
                    </array>
                    <key>QuestionText</key>
                    <string>Don't be sad and ____, things might improve tomorrow.</string>
           </dict>
    <dict>
                    <key>correctAns</key>
                    <integer>0</integer>
                    <key>options</key>
                    <array>
                        <string>blue</string>
                        <string>yellow</string>
                        <string>golden</string>
                        <string>silver</string>
                    </array>
                    <key>QuestionText</key>
                    <string>The company chairman received a huge ____ handshake when he retired.</string>
           </dict>
    <dict>
                       <key>correctAns</key>
                       <integer>0</integer>
                       <key>options</key>
                       <array>
                           <string>blue</string>
                           <string>yellow</string>
                           <string>black</string>
                           <string>red</string>
                       </array>
                       <key>QuestionText</key>
                       <string>It's a ____ day for me, because I have just lost my job.</string>
              </dict>
    <dict>
                       <key>correctAns</key>
                       <integer>0</integer>
                       <key>options</key>
                       <array>
                           <string>blue</string>
                           <string>yellow</string>
                           <string>golden</string>
                           <string>silver</string>
                       </array>
                       <key>QuestionText</key>
                       <string>The company chairman received a huge ____ handshake when he retired.</string>
              </dict>
</array>
</plist>
