<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>mistook</string>
			<string>mistaken</string>
			<string>mistake</string>
			<string>mistaking</string>
		</array>
		<key>QuestionText</key>
		<string>I think I made a ____ in the exam.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>wrote</string>
			<string>written</string>
			<string>write</string>
			<string>writing</string>
		</array>
		<key>QuestionText</key>
		<string>I ____ an email to him yesterday.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>3</integer>
		<key>options</key>
		<array>
			<string>wake</string>
			<string>woke</string>
			<string>woken</string>
			<string>waking</string>
		</array>
		<key>QuestionText</key>
		<string>I like ____ up early in the morning.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>3</integer>
		<key>options</key>
		<array>
			<string>drive</string>
			<string>driven</string>
			<string>driving</string>
			<string>drove</string>
		</array>
		<key>QuestionText</key>
		<string>He ____ off at high speed.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>3</integer>
		<key>options</key>
		<array>
			<string>eating</string>
			<string>eaten</string>
			<string>eats</string>
			<string>ate</string>
		</array>
		<key>QuestionText</key>
		<string>I ____ dinner before I came to see you.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>tear</string>
			<string>tore</string>
			<string>torn</string>
			<string>for</string>
		</array>
		<key>QuestionText</key>
		<string>My jacket caught on a  nail and I ____ it.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>saw</string>
			<string>seen</string>
			<string>sees</string>
			<string>seeing</string>
		</array>
		<key>QuestionText</key>
		<string>Have you ____ her?</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>hid</string>
			<string>hidden</string>
			<string>hide</string>
			<string>hiding</string>
		</array>
		<key>QuestionText</key>
		<string>Where did you ____ it?</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>forgot</string>
			<string>forgotten</string>
			<string>forgets</string>
			<string>forgetting</string>
		</array>
		<key>QuestionText</key>
		<string>I&apos;m so sorry, I ____ bring it!</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>became</string>
			<string>become</string>
			<string>becomes</string>
			<string>becoming</string>
		</array>
		<key>QuestionText</key>
		<string>After graduating he ____ an accountant.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>3</integer>
		<key>options</key>
		<array>
			<string>spoke</string>
			<string>spoken</string>
			<string>speaks</string>
			<string>speaking</string>
		</array>
		<key>QuestionText</key>
		<string>I can hear him ____ now.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>beat</string>
			<string>beaten</string>
			<string>beats</string>
			<string>beating</string>
		</array>
		<key>QuestionText</key>
		<string>We played tennis and he ____ me.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>knew</string>
			<string>known</string>
			<string>knows</string>
			<string>knowing</string>
		</array>
		<key>QuestionText</key>
		<string>We ____ each other at school.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>2</integer>
		<key>options</key>
		<array>
			<string>rode</string>
			<string>ridden</string>
			<string>ride</string>
			<string>riding</string>
		</array>
		<key>QuestionText</key>
		<string>He likes to ____ motorcycles.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>1</integer>
		<key>options</key>
		<array>
			<string>took</string>
			<string>taken</string>
			<string>takes</string>
			<string>taking</string>
		</array>
		<key>QuestionText</key>
		<string>It has ____ me a long time to do this.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>wrote</string>
			<string>written</string>
			<string>write</string>
			<string>writing</string>
		</array>
		<key>QuestionText</key>
		<string>I ____ an email to him yesterday.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>0</integer>
		<key>options</key>
		<array>
			<string>flew</string>
			<string>flown</string>
			<string>fly</string>
			<string>flying</string>
		</array>
		<key>QuestionText</key>
		<string>He has ____ all over the world.</string>
	</dict>
	<dict>
		<key>correctAns</key>
		<integer>3</integer>
		<key>options</key>
		<array>
			<string>shook</string>
			<string>shaken</string>
			<string>shakes</string>
			<string>shaking</string>
		</array>
		<key>QuestionText</key>
		<string>He was so cold he was ____.</string>
	</dict>
</array>
</plist>
