<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>This is for irregular verbs.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>2</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>I&apos;ll not be at  home ____ monday morning.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>I&apos;ll be at  home ____ Friday morning.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>I&apos;ll be at  home ____ Friday morning.</string>
    </dict>
    <dict>
        <key>correctAns</key>
        <integer>0</integer>
        <key>options</key>
        <array>
            <string>at</string>
            <string>on</string>
            <string>in </string>
            <string>for</string>
        </array>
        <key>QuestionText</key>
        <string>I&apos;ll be at  home ____ Friday morning.</string>
    </dict>
</array>
</plist>
